{% extends 'base.html' %}

{% block body %}
<section class="section loginPage">
  <img class="wave" src="/static/img/wave.png">
  <div>
    <div class="imgg ">
      <img src="/static/img/bg.svg"  class="wave">
    </div>
    <div class="login-content">
    
      <form id=form method="POST" action="">

        <img src="/static/img/avatar.svg">
        <h2 class="title">student</h2>
        <div class="input-div one">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div class="ddiv">
            <h5>Username</h5>
            <input type="text" name="rollno" class="input">
          </div>
        </div>
        <div class="input-div pass">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div class="div">
            <h5>Password</h5>
            <input type="password" name="password" class="input">
          </div>
        </div>
        <a id=a style="display: block;" href="#">Forgot Password?</a>
        <input type="submit" class="btn" value="Login">
        <!-- <a id=a href="/"  ></a> -->
        <a id=a href="/faclogin" style="margin: 0 0% 0 0; ">Are you Faculty?</a> <span>|</span>
        <a id=a href="/signup" style="margin: 0 3% 0 0; ">Create Account</a>
        {% if flash != '' %}
        <h5 style="color: rgb(255, 25, 25);">{{flash}}</h5>
        {% endif %}
      </form>
    </div>
  </div>
</section> 


<!-- <form class="form-center" method="POST" action="">
       

        <input type="text" name="rollno" placeholder="rollno" />
        <br>
        <input type="password" name="password" placeholder="password" />
        <br>
        <input type="submit">
         {% if flash != '' %}
        <h5 style="color: red;">{{flash}}!!</h5>
        {% endif %}
      </form>
</section>    -->

{% endblock %}