{% extends 'student/users.html' %}

{% block view_users %}
    <h1>Welcome to timetable</h1>
   
    <br /><br />
    
    <div class="timetableClass">
    <table>
    <tr>
        <th></th>
        {% for head in HeadingTT %}
            <th>{{ head }}</th>
        {% endfor %}
    </tr>
    {% for tday in timeTableInfo %}
        <tr>
        {% for tv in tday %}
            {% if tv == tday[0] %}
            <td>
                <div class="">
                        <div class="">
                            {{tv}}
                        </div>
                </div>
            </td>
            {% else %}
                <td>
                    <div class="tvCard">
                            <div class="tv_cname">
                                {{tv[0]}}
                            </div>
                            <div class="tv_room">
                                    {{tv[1]}}
                            </div>
                    </div>
                </td>
            {% endif %}

        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    </div>
    
{% endblock %}