{% extends 'student/users.html' %}

{% block view_users %}
    <h1>Welcome to course registration</h1>
   
    <br /><br />
    <div class="timetableClass">
    <form method="POST">
    <table>
        <tr>
            <th>Subject</th>
            <th>Enroll</th>
            <th>Teacher</th>
        </tr>
    {% for course in courselist %}
        <tr>
            <td>{{course[2]}}</td> 
            <td><input type="checkbox" name="courses" value={{course[1]}} /></td>
            <td>{{ course[3] }}</td>
        </tr>
    {% endfor %}
    </table>
    <input type="submit" />
    </form>
    </div>
{% endblock %}