{% extends 'student/users.html' %}

{% block view_users %}

<!-- =========================== -->

<div class="timetableClass userRightPanel" style="margin-top: 0px; height: 100%;">
  <form method="POST">
    {% if flash != '' %}
    <h3 style="color: maroon;">{{flash}}</h3>
    {% endif %}
    <table class="regProfileCode">
      <tr class="regCourseheading">
        <th style="width: 29% ;  border: #3a4857 2px solid;"> <div align="center"> <img alt="User Pic"
          src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
          id="profile-image1" class="img-circle img-responsive">

        <input id="profile-image-upload" class="hidden" type="file">
        <div style="color:#999; font-size: 21px; font-weight: lighter; padding: 0px 0 10px 0;">click here to change profile image</div>
        <!--Upload Image Js And Css-->
        </div> 
    </th>
        <th style=" border: #3a4857 2px solid; padding-left: 75px; font-size: 140px;">user</th>
        <th style=" border: #3a4857 2px solid; padding: 0 10px; font-size: 60px;"> information</th>
      </tr>

      <tr>
        <td style=" border: white 2px solid; font-size: 33px; color:#267caf;"><span class=""
            style="padding: 0 0 0 40px; text-align: left; font-weight: bold;">First Name</span></td>
        <td style=" border: white 2px solid; color:#267caf; text-align: center;"><span class="">:</span></td>
        <td style=" border: white 2px solid;"><span class="studentInfoprofile">Kuldeep</span></td>
      </tr>

      <tr>
        <td style=" border: white 2px solid;     font-size: 33px; color:#267caf;"><span class=""
            style="padding: 0 0 0 40px; text-align: left; font-weight: bold;">Middle Name</span></td>
        <td style=" border: white 2px solid; color:#267caf; text-align: center;"><span class="">:</span></td>
        <td style=" border: white 2px solid;"><span class="studentInfoprofile"></span></td>
      </tr>

      <tr>
        <td style=" border: white 2px solid;     font-size: 33px; color:#267caf;"><span class=""
            style="padding: 0 0 0 40px; text-align: left; font-weight: bold;">Last Name</span></td>
        <td style=" border: white 2px solid; color:#267caf; text-align: center;"><span class="">:</span></td>
        <td style=" border: white 2px solid;"><span class="studentInfoprofile">Singh</span></td>
      </tr>

      <tr>
        <td style=" border: white 2px solid;     font-size: 33px; color:#267caf;"><span class=""
            style="padding: 0 0 0 40px; text-align: left; font-weight: bold;">CPI</span></td>
        <td style=" border: white 2px solid; color:#267caf; text-align: center;"><span class="">:</span></td>
        <td style=" border: white 2px solid;"><span class="studentInfoprofile">{{studentDetail[0][4]}}</span>
        </td>
      </tr>

      <tr>
        <td style=" border: white 2px solid;     font-size: 33px; color:#267caf;"><span class=""
            style="padding: 0 0 0 40px; text-align: left; font-weight: bold;">Semester</span></td>
        <td style=" border: white 2px solid; color:#267caf; text-align: center;"><span class="">:</span></td>
        <td style=" border: white 2px solid;"><span class="studentInfoprofile">{{studentDetail[0][5]}}</span></td>
      </tr>

      <tr>
        <td style=" border: white 2px solid;     font-size: 33px; color:#267caf;"><span class=""
            style="padding: 0 0 0 40px; text-align: left; font-weight: bold;">Program</span></td>
        <td style=" border: white 2px solid; color:#267caf; text-align: center;"><span class="">:</span></td>
        <td style=" border: white 2px solid;"><span class="studentInfoprofile">{{studentDetail[0][6]}}</span></td>
      </tr>

      <tr>
        <td style=" border: white 2px solid;     font-size: 33px; color:#267caf;"><span class=""
            style="padding: 0 0 0 40px; text-align: left; font-weight: bold;">Phone No</span></td>
        <td style=" border: white 2px solid; color:#267caf; text-align: center;"><span class="">:</span></td>
        <td style=" border: white 2px solid;"><span class="studentInfoprofile">{{studentDetail[0][2]}}</span></td>
      </tr>

      <tr>
        <td style=" border: white 2px solid;     font-size: 33px; color:#267caf;"><span class=""
            style="padding: 0 0 0 40px; text-align: left; font-weight: bold;">Email</span></td>
        <td style=" border: white 2px solid; color:#267caf; text-align: center;"><span class="">:</span></td>
        <td style=" border: white 2px solid;"><span class="studentInfoprofile">{{studentDetail[0][7]}}</span></td>
      </tr>

      <tr>
        <td style=" border: white 2px solid;     font-size: 33px; color:#267caf;"><span class=""
            style="padding: 0 0 0 40px; text-align: left; font-weight: bold;">Date of Birth</span></td>
        <td style=" border: white 2px solid; color:#267caf; text-align: center;"><span class="">:</span></td>
        <td style=" border: white 2px solid;"><span class="studentInfoprofile">{{studentDetail[0][8]}}:{{studentDetail[0][9]}}:{{studentDetail[0][10]}}</span></td>
      </tr>

      <tr>
        <td style=" border: white 2px solid;     font-size: 33px; color:#267caf;"><span class=""
            style="padding: 0 0 0 40px; text-align: left; font-weight: bold;">Date of Joining</span></td>
        <td style=" border: white 2px solid; color:#267caf; text-align: center;"><span class="">:</span></td>
        <td style=" border: white 2px solid;"><span class="studentInfoprofile">23:7:2019</span></td>
      </tr>

      <tr>
        <td style=" border: white 2px solid;     font-size: 33px; color:#267caf;"><span class=""
            style="padding: 0 0 0 40px; text-align: left; font-weight: bold;">Place of Birth</span></td>
        <td style=" border: white 2px solid; color:#267caf; text-align: center;"><span class="">:</span></td>
        <td style=" border: white 2px solid;"><span class="studentInfoprofile">Bikaner</span></td>
      </tr>

      <tr>
        <td style=" border: white 2px solid;     font-size: 33px; color:#267caf;"><span class=" "
            style="padding: 0 0 0 40px; text-align: left; font-weight: bold;">Nationality</span></td>
        <td style=" border: white 2px solid; color:#267caf; text-align: center;"> <span class=" ">:</span></td>
        <td style=" border: white 2px solid;"> <span class="studentInfoprofile">Indian</span></td>
      </tr>

      <!-- <div class="clearfix"></div>
                  <div class="bot-border"></div> -->
    </table>
    <div class="containerbtn">
      <input type="submit" value="SUBMIT" />
    </div>
  </form>
</div>

<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

    <script>
      $(function () {
        $('#profile-image1').on('click', function () {
          $('#profile-image-upload').click();
        });
      });       
    </script>




<!-- <div class="container">
  <h2 id="headCPIPage">Personal information</h2>
  <form class="form-center" method="POST" action="">
    {% if flash != '' %}
    <h1 style="color: maroon;">{{flash}}</h1>
    {% endif %}
    rollno: <input type="text" name="rollno" placeholder={{studentDetail[0][0]}} value={{rollno}} readonly />
    <br>
    phone: <input type="text" name="phone" value={{studentDetail[0][2]}} readonly />
    <br>
    address: <input type="text" name="address" value="{{studentDetail[0][3]}}" readonly />
    <br>
    cpi: <input type="text" name="cpi" value="{{studentDetail[0][4]}}" readonly />
    <br>
    class: <input type="text" name="class" value="{{studentDetail[0][5]}}" readonly />
    <br>
    program: <input type="text" name="program" value="{{studentDetail[0][6]}}" readonly />
    <br>
    email: <input type="text" name="email" value="{{studentDetail[0][7]}}" readonly />
    <br>
    dob_dd: <input type="text" name="dob_dd" value="{{studentDetail[0][8]}}" readonly />
    <br>
    dob_mm: <input type="number" name="dob_mm" value="{{studentDetail[0][9]}}" readonly />
    <br>
    dob_yy: <input type="number" name="dob_yy" value="{{studentDetail[0][10]}}" readonly />
    <br>
  </form>
</div> -->
{% endblock %}