{% extends 'student/users.html' %}

{% block view_users %}

    <h2>See Details</h2>
    <form class="form-center" method="POST" action="">
        {% if flash != '' %}
        <h1 style="color: maroon;">{{flash}}</h1>
        {% endif %}
        rollno: <input type="text" name="rollno" placeholder={{studentDetail[0][0]}} value={{rollno}} readonly/>
        <br>
        phone: <input type="text" name="phone" value={{studentDetail[0][2]}} readonly/>
        <br>
        address: <input type="text" name="address" value="{{studentDetail[0][3]}}" readonly/>
        <br>
        cpi: <input type="text" name="cpi" value="{{studentDetail[0][4]}}" readonly/>
        <br>
        class: <input type="text" name="class" value="{{studentDetail[0][5]}}" readonly/>
        <br>
        program: <input type="text" name="program" value="{{studentDetail[0][6]}}" readonly/>
        <br>
        email: <input type="text" name="email" value="{{studentDetail[0][7]}}" readonly/>
        <br>
        dob_dd: <input type="text" name="dob_dd" value="{{studentDetail[0][8]}}" readonly/>
        <br>
        dob_mm: <input type="number" name="dob_mm" value="{{studentDetail[0][9]}}" readonly/>
        <br>
        dob_yy: <input type="number" name="dob_yy" value="{{studentDetail[0][10]}}" readonly/>
        <br>
      </form>

{% endblock %}