<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <style>
        td,th{
            border : 1px solid black ;
            text-align: center ;
            padding: 5px;
        }
        tr:nth-child(even){
            background-color: #dddddd ;
        }
        .main{
            width : 100% !important  ;
            background: url('../../static/img/3.jpeg');
            height : 100vh ;
        }
        table{
            border-collapse: collapse ;
        }
    </style>
</head>
<body>
    <div class=''>
        <div class='main'>
            <table>
                <tr>
                    <th> Id </th>
                    <th> Program </th>
                </tr>
                {% for i in range(student|length) %}
                    <tr> 
                        <td> {{ student[i][0] }} </td> 
                        <td> {{ student[i][1] }} </td> 
                    </tr>
                {% endfor %}
            </table>
        </div>
        
    </div>
</body>
</html>