{% extends 'admin/admin_home.html' %}

{% block view_users %}
    <div class="newsCard">
        <div class="newsTitle">
            Welcome to Student Administration
        </div>
    </div>
    <div class="row">
        <!-- Cards here -->
        <div class="col-lg-3 centre_large" style="background-color: lightskyblue;">
            <i class="fa fa-plus"></i>
            <p>
                <a href="/signup">ADD NEW COURSE</a>
            </p>
        </div>
        <!-- cards end -->
        <!-- Cards here -->
        <div class="col-lg-3 centre_large" style="background-color: yellowgreen;">
            <i class="fa fa-edit"></i>
            <p>
                <a href="/admin_course_req">EDIT COURSE</a>
            </p>
        </div>
        <!-- cards end -->
        <!-- Cards here -->
        <div class="col-lg-3 centre_large" style="background-color:lightpink ;">
            <i class="fa fa-table"></i>
            <p>
                <a href="/ExcelDownload">DOWNLOAD COURSE EXCEL</a>
            </p>
        </div>
        <!-- cards end -->
        <div class="col-lg-3 centre_large" style="background-color:lightskyblue ;">
            <i class="fa fa-table"></i>
            <p>
                <a href="/adminShowStudentByProgram">Show Student <br> By Program</a>
            </p>
        </div>
        <!-- cards end -->
    </div>
    
    
{% endblock %}