{% extends 'base.html' %}


{% block body %}
<section class="section">
    <div class="container ">
        <div class="row">
            <a href="/adminShowCourse" class="text-light  bg-primary rounded p-1 mt-2 ">Back</a> 
        <table class="styled-table table  my-3 ">
        <thead class="">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Program</th>
          </tr>
        </thead>
        <tbody>
        {% for i in range(student|length) %}
            <tr class="active-row">
              <td>{{ student[i][0] }}</td>
              <td>{{ student[i][1] }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
     </div>
    </div>

</section>

{% endblock %}