body{
    background-color: #24836e;
    background-image: linear-gradient(250deg, #aaa4a5 10%, #a7d7d7 10%);
}

.row{
  margin: 0;
  padding: 0;
}

.univTitle{
  width: 100%;
  padding: 10px;
  height: 100px;
  border: 5px black solid;
  text-align: center;
  background-color: #1c3bdd;
  background-image: linear-gradient(250deg, #add56d 10%, #a4ddf3 10%);
}

.loginOptions{
  width: 100%;
  font-family: cursive;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

.loginBox{
  width: 100%;
  text-align: center;
  padding-top: 20px;
  margin-top: 10px;
  color: #000;
}

.form-center{
    display: inline-block;
    width: 100%;
    text-align: center;
}

form > input {
    margin: 10px;
    padding: 10px;
}

table{
  margin: 10px;
}
td, th{
  border: black 2px solid;
  padding: 10px;
  min-width: 100px;
}

.userLeftPanel{
  margin-top: 10px;
  height: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userRightPanel{
  margin-top: 10px;
  height: 600px;
}

.userListLabel{
  background-color: #add56d;
  border-radius: 10px;
  color: #000;
  padding: 10px;
}

.userProfileLabel{
  background-color: #3f3dad;
  border-radius: 100px;
  color: #dfd;
  margin: 10px;
  padding: 15px;
}

.userListLabel:hover, .userProfileLabel:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.userLeft{

}

.userRight{
  text-align: right;
  margin-right: 20px;
  right: 0;
  position: absolute;
}

.studentCpiTitle{
  font-size: 1.2em;
  border: #000 solid 2px;
  margin: 10px;
  padding: 10px;
  background-color: lavenderblush;
  box-shadow: 4px 4px 1px rgba(168, 99, 8, 0.678);
}

.timetableClass{
  width: 80%;
  overflow: auto;
  margin: 40px;
  background-color: lavender;
  border: #aaa4a5 3px solid;
}
.timetableClass>table, .temporary{
  background-color: lavenderblush;
  box-shadow: 4px 4px 1px rgba(168, 99, 8, 0.678);
}


.tvCard{
  background-color: thistle;
}

.tv_cname{
  background-color: seagreen;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
}

.tv_room{
  font-size: 0.8em;
  text-align: right;
  margin-right: 10px;
  background-color: thistle;
}

.timeTableQuery{
  background-color: #dfd;
  border: 2px #ddd solid;
  border-radius: 10px;
  width: 500px;
  margin: 40px;
  padding: 10px; 
  font-size: 1.5em;
}

.timeTableSql{
  font-size: 0.8em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.timeTableSqlLabel{
  font-size: 0.7em;
  background-color: #daa;
  padding: 0;
  margin-top: 40px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
}